footer {
    background-color: var(--main-color);
  }
  
  footer:not(:first-child)
  {
  border-top:  1px solid rgba(255, 255, 255, 0.1);
  }
  
  footer .input-group-text
  {
    background-color: var(--main-color);
    color: white;
    padding: 8px 17px;
    font-size: 14px;
    cursor: pointer;
  }

  span #basic-addon2 
  {
    width: 20px;
  }
  @media (max-width: 760px)
  {
    footer .input-group-text
    {
      margin-top: 20px;
    }
  }


  @media (max-width: 760px)
  {
    footer  .footer-top-data
    {
        flex-direction: column;
        margin-top: 20px;
        font-size: 10px;
    }
    footer  .footer-top-data img
    {
      width: 15px;
    }
  }